.register {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  .register-card {
    padding: 2%;
    background: #fff;
    width: 46%;
    .heading {
      padding: 10px 0;
      padding-bottom: 0;
      width: 100%;
      text-align: center;
      h2 {
        padding-bottom: 10px;
      }
      p {
        color: #777777;
      }
      a {
        color: "#004CBD";
      }
    }
    form {
      .form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      .form-item {
        padding-top: 10px;
        width: 100%;
        // padding-bottom: 10px;
        p {
          padding: 5px 0;
        }
        input {
          border: 1px solid #efeff0;
          border-radius: 4px;
          padding: 7.5px;
          width: calc(100% - 20px);
          background-color: #fff;
          color: #cacaca;
        }
        .input-wrapper {
          border: 1px solid #efeff0;
          background-color: #fff;
          border-radius: 4px;

          //   width: 100%;
          display: flex;
          align-items: center;
          padding-right: 10px;
          p {
            // background: url("../../resources/Inside.svg");
            height: 20px;
            width: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: transparent;
            padding: 0;
          }
          input {
            border: 0px;
            width: calc(100% - 20px - 10px);
          }
        }
        button {
          width: 100%;
          height: 35px;
        }
      }
      .password-validation {
        ul {
          padding: 0 3%;
        }
        li {
          padding: 5px 0;
          font-size: 80%;
        }
        .check {
          color: green;
        }
      }
    }
  }
}
